{% extends 'base.html'%}
{%block content%}
    <div class="container">
      <div class="row"> 
         <div class="col-10"></div>
      <div class="col-2 mt-5 p-1"> <a href="/add-movie" class="btn btn-primary">ADD MOVIE</a></div>
    </div>
       
      <table class="table table-striped">
        <thead>
          <tr>
         
            <th scope="col">Movie</th>
            <th scope="col">Director</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {%for movie in movies%}

          <tr>
            <td>{{movie.movie_name}}</td>
            <td>{{movie.director_name}}</td>
            <td><a href="/edit-movie/{{movie.id}}" class="btn btn-warning ">EDIT</a></td>
            <td>
                <form method="post" action="/delete-movie/{{movie.id}}">
                    {%csrf_token%}<button class="btn btn-danger btn-sm" type="submit">DELETE</form>
            </td>
          </tr>
          {%endfor%}

        </tbody>
      </table>

    </div>
{%endblock%}
