asgiref==3.5.1
autopep8==1.6.0
distlib==0.3.6
dj-database-url==0.5.0
Django==4.0.4
django-heroku==0.3.1
filelock==3.8.0
gunicorn==20.1.0
mysql-connector-python==8.0.30
mysqlclient==2.1.0
numpy==1.23.3
pandas==1.4.4
Pillow==9.1.1
platformdirs==2.5.2
psycopg2==2.9.3
pycodestyle==2.8.0
python-dateutil==2.8.2
pytz==2022.2.1
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
tzdata==2022.1
virtualenv==20.16.5
virtualenvwrapper-win==1.2.7
whitenoise==6.1.0
